.Body {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    flex-direction: column;
    text-align: center;
      
      
  }
  
  .botoes button {
    margin: 10px;
    padding: 15px 30px;
    font-size: 16px;
    background-color:  #ce1f3a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .botoes button:hover {
    background-color: #e23e57;
  }
  
  .display {
    margin-top: 20px;
  }
  
  .display h2 {
    font-size: 24px;
  }
  
  .filaVazia {
    color: red;
    font-weight: bold;
  }
  