@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');

.header-container{

        background-color:#ffffff;
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 10%;
        width: 100%;
      
}

